{% extends 'layout.html' %}

{% block content %}

{% load static %}

<!-- Hero Section -->
<header class="row bg-black">
  <div class="col-md-4">
    <img src="{% static 'portfolio/profile.jpeg' %}" />
  </div>

  <div class="col-md-8 my-auto p-4">
    <h1>Hola, soy <strong>Nicolás Paulo Vega.</strong></h1>
    <h3>Soy desarrollador web backend</h3>
    <p>
      Tengo experiencia en diversos lenguajes de programación web, como Python, JavaScript, HTML y CSS. También manejo frameworks relacionados como Bootstrap, Django, Vue js y Tailwind CSS.
      <br>
      He creado este portafolio, llamado DarkPixel, con el objetivo principal de presentarte mis proyectos realizados y brindarte la oportunidad de contactarme para diseñar el aplicativo que necesites.
      <br>
      Actualmente, sigo formándome y perfeccionando mis habilidades. Te invito a explorar la sección de Blog, donde estaré compartiendo contenido sobre los proyectos en los que estoy trabajando y lo que estoy aprendiendo en este momento.
    </p>
    <a class="btn btn-primary btn-lg rounded-0 my-3" href="{% static 'portfolio/cv.pdf' %}">Download my CV</a>
  </div>
</header>

<!-- Porfolio Section -->
<div class="row my-4 text-center">

  <h3>Mis Proyectos</h3>
  <p>Aquí podras ver todos y cada uno de los proyectos que he realizado en mi corto camino como desarrollador web</p>

  {% for project in projects %}
    <div class="col-md-4 p-4">
      <div class="card bg-black card-project">
        <img src="{{project.image.url }}" class="card-img-top" />

        <div class="card-body">

          <h2>{{ project.title }}</h2>
          <p>{{ project.description }}</p>

          {% if project.url %}
          <a href="{{project.url}}" class="btn btn-light rounded-0 btn-sm" target="__blank" rel="noreferrer">Visit the
            Project</a>
          {% endif %}
        </div>
      </div>
    </div>
  {% endfor %}
</div>


{% endblock %}